Repository vjelic/rocprofiler-compute-glog-fork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd

# Documentation files
docs/ @ROCm/rocm-documentation @prbasyal-amd
*.md @ROCm/rocm-documentation @prbasyal-amd
*.rst @ROCm/rocm-documentation @prbasyal-amd
.readthedocs.yaml @ROCm/rocm-documentation @prbasyal-amd

## Packaging
# cmake/
# tests/
# CMakeLists.txt
# utils/

Disable combination generator / random selection for now
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove MI50/MI60 gfx906 support per documentation (#819)
  CHANGELOG.md
  src/rocprof_compute_soc/analysis_configs/gfx906/0000_top_stats.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0100_system_info.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0300_mem_chart.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0500_command-processor.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0600_shader-processor-input.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1000_compute-unit-instruction-mix.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1100_compute-unit-compute-pipeline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1200_lds.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1300_instruction-cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1400_constant-cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1500_TA_and_TD.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1600_L1_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1700_L2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/1800_L2_cache_per_channel.yaml
  src/rocprof_compute_soc/analysis_configs/gfx906/2100_pc_sampling.yaml
  src/utils/mi_gpu_spec.yaml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Count SQC counters as SQ counters
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove hardware IP block based filtering (#820)
  CHANGELOG.md
  CMakeLists.txt
  docs/how-to/profile/mode.rst
  docs/how-to/use.rst
  pyproject.toml
  src/argparser.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_tui/utils/tui_utils.py
  src/utils/tty.py
  src/utils/utils.py
  tests/test_profile_general.py
  tests/workloads/no_roof/MI350/profiling_config.yaml
  tests/workloads/vcopy/MI350/profiling_config.yaml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Broken ROCProfiler reference updated
  docs/what-is-rocprof-compute.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

fix build (#823)
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix memory clock detection with amd-smi (#824)
  CHANGELOG.md
  src/rocprof_compute_soc/soc_base.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Standalone GUI bugfix (#825)
  CHANGELOG.md
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_soc/analysis_configs/gfx950/1700_L2_cache.yaml
  src/utils/gui.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix tests and formatting (#826)
  src/utils/gui.py
  tests/test_TCP_counters.py
  tests/test_analyze_commands.py
  tests/test_gpu_specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

CDNA 4 removed from ROCm 6.4.2 (#827)
  docs/conceptual/performance-model.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Update standalone roofline intro (#830)
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Improve block filtering to accept metric ids (#821)
  CHANGELOG.md
  docs/how-to/profile/mode.rst
  src/argparser.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_tui/utils/tui_utils.py
  src/utils/tty.py
  src/utils/utils.py
  tests/test_utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix L2 read/write/atomic bandwidths on MI350 (#831)
  CHANGELOG.md
  src/rocprof_compute_soc/analysis_configs/gfx950/1700_L2_cache.yaml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix rocprofv3 supported counters not being detected (#832)
  CMakeLists.txt
  src/rocprof_compute_soc/soc_base.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Improve --time-unit arg (#807)
  CHANGELOG.md
  src/argparser.py
  src/config.py
  src/rocprof_compute_soc/analysis_configs/gfx908/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx90a/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/0700_wavefront-launch.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/0700_wavefront-launch.yaml
  src/utils/file_io.py
  src/utils/tty.py
  tests/test_analyze_commands.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Inital commit for roofline new doc page WIP- analysis section on new page, update and remove parts for profile and analysis pages
  docs/data/roofline/hw_counter_collection_phase.png
  docs/data/roofline/roofline_benchmarking_phase.png
  docs/data/roofline/roofline_efficiency.png
  docs/data/roofline/simple_roof_example.png
  docs/how-to/roofline.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

add description for MI100 counters (#834)
  src/rocprof_compute_soc/profile_configs/gfx908_counter_defs.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Enable rocpd output format with rocprofiler sdk (#790)
  CHANGELOG.md
  src/argparser.py
  src/rocprof_compute_analyze/analysis_base.py
  src/rocprof_compute_analyze/analysis_cli.py
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_profile/profiler_rocprof_v3.py
  src/rocprof_compute_profile/profiler_rocprofiler_sdk.py
  src/rocprof_compute_tui/analysis_tui.py
  src/roofline.py
  src/utils/file_io.py
  src/utils/parser.py
  src/utils/rocpd_data.py
  src/utils/utils.py
  tests/test_analyze_commands.py
  tests/test_analyze_workloads.py
  tests/test_profile_general.py
  tests/workloads/vcopy/MI300X_A1_rocpd/log.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_IFETCH_LEVEL.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_IFETCH_LEVEL.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_LDS.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_LDS.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_SMEM.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_SMEM.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_VMEM.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_INST_LEVEL_VMEM.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_LEVEL_WAVES.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/SQ_LEVEL_WAVES.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_0.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_1.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_2.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_3.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_4.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_5.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/perfmon/pmc_perf_6.txt
  tests/workloads/vcopy/MI300X_A1_rocpd/pmc_perf.csv
  tests/workloads/vcopy/MI300X_A1_rocpd/profiling_config.yaml
  tests/workloads/vcopy/MI300X_A1_rocpd/sysinfo.csv
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix doc and ref link usage
  docs/how-to/roofline.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Update references. Add analyze mode section.
  docs/how-to/analyze/cli.rst
  docs/how-to/analyze/standalone-gui.rst
  docs/how-to/profile/mode.rst
  docs/how-to/roofline.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Fix links and formatting
  docs/how-to/roofline.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Update changelog.
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Fix test cases (#837)
  src/config.py
  src/rocprof_compute_soc/soc_base.py
  src/utils/roofline_calc.py
  tests/test_analyze_commands.py
  tests/test_autogen_config.py
  tests/test_db_connector.py
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update VERSION to 3.3.0 (#838)
  VERSION
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

bugfix to make amd-smi usage backward compatible (#836)
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix rocprof avail usage (#840)
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

quick fix how to call v3 with pc sampling
  src/rocprof_compute_profile/profiler_base.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Format code (#842)
  docs/conf.py
  src/config.py
  src/utils/roofline_calc.py
  tests/test_analyze_commands.py
  tests/test_db_connector.py
  utils/split_config.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

update rocm-docs-core to 1.22.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Backport CHANGELOG changes from 7.0 release (#845)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Fix pc sampling unit test (#847)
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

TUI: Kernel Selection (#769)
  CHANGELOG.md
  docs/data/analyze/tui_home.png
  docs/data/analyze/tui_kernel_selection.png
  src/config.py
  src/rocprof_compute_tui/analysis_tui.py
  src/rocprof_compute_tui/config.py
  src/rocprof_compute_tui/tui_app.py
  src/rocprof_compute_tui/utils/analyze_config.yaml
  src/rocprof_compute_tui/utils/kernel_view_config.yaml
  src/rocprof_compute_tui/utils/tui_utils.py
  src/rocprof_compute_tui/views/kernel_view.py
  src/rocprof_compute_tui/views/main_view.py
  src/rocprof_compute_tui/widgets/center_panel/analyze_view.py
  src/rocprof_compute_tui/widgets/center_panel/center_area.py
  src/rocprof_compute_tui/widgets/charts.py
  src/rocprof_compute_tui/widgets/collapsibles.py
  src/rocprof_compute_tui/widgets/directory_tree.py
  src/utils/mem_chart.py
  src/utils/parser.py
  tests/test_analyze_commands.py
  tests/test_db_connector.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove duplicate metric descriptions from documentation (#852)
  docs/data/metrics_description.yaml
  utils/autogen_hash.yaml
  utils/split_config.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix metrics description (#853)
  docs/data/metrics_description.yaml
  utils/autogen_hash.yaml
  utils/split_config.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix L2 cache bandwidth metrics for MI350 (#843)
  docs/data/metrics_description.yaml
  src/rocprof_compute_soc/analysis_configs/gfx908/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx908/1700_l2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx90a/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx90a/1700_l2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/1700_l2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/1700_l2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1700_l2_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/1500_address_processing_unit_and_data_return_path_ta_td.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/1700_l2_cache.yaml
  utils/autogen_hash.yaml
  utils/unified_config.yaml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add or update workflow .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove old workflow file .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add or update workflow .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove old workflow file .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add or update workflow .github/workflows/glog.yml
  .github/workflows/glog.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd
