Repository vjelic/rocprofiler-compute-glog-fork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

Fix rocprofiler sdk list counters (#765)
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix method return for python version compatibility (#784)
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

bugfix for invalid partition for MI 300 A (#776)
  src/rocprof-compute
  src/rocprof_compute_analyze/analysis_base.py
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/rocprof_compute_soc/soc_gfx940.py
  src/rocprof_compute_soc/soc_gfx941.py
  src/rocprof_compute_soc/soc_gfx942.py
  src/rocprof_compute_soc/soc_gfx950.py
  src/roofline.py
  src/utils/db_connector.py
  src/utils/file_io.py
  src/utils/kernel_name_shortener.py
  src/utils/logger.py
  src/utils/mi_gpu_spec.py
  src/utils/mi_gpu_spec.yaml
  src/utils/roofline_calc.py
  src/utils/specs.py
  src/utils/utils.py
  tests/test_gpu_specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

additional-code-coverage-compute (#763)
  CMakeLists.txt
  tests/test_analyze_commands.py
  tests/test_db_connector.py
  tests/test_gpu_specs.py
  tests/test_profile_general.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Refactor code for parsing metrics
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Merge conflict resolved
  CMakeLists.txt
  docs/conceptual/pipeline-metrics.rst
  docs/conceptual/system-speed-of-light.rst
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

Duplicate changelog removed
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Adjust csv output list for test_block_SPI for MI350 (#785)
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

fix normalization (#789)
  src/rocprof_compute_analyze/analysis_webui.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

format with isort (#793)
  tests/test_analyze_commands.py
  tests/test_db_connector.py
  tests/test_gpu_specs.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

PC Sampling: fix potential_end_offset (#792)
  src/rocprof_compute_soc/soc_base.py
  src/utils/parser.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add tui cmake install. (#794)
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update gfx908 counter names
  src/rocprof_compute_soc/profile_configs/gfx908_counter_defs.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

More MI100 counter changes
  src/rocprof_compute_soc/profile_configs/gfx908_counter_defs.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Test spi and roof kernel-names ctest failures
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update roofline bins for rocm7 changes (#755)
  CHANGELOG.md
  src/utils/rooflines/roofline-rhel8-rocm6
  src/utils/rooflines/roofline-rhel9-rocm7
  src/utils/rooflines/roofline-sles15sp6-rocm6
  src/utils/rooflines/roofline-sles15sp6-rocm7
  src/utils/rooflines/roofline-ubuntu22_04-rocm6
  src/utils/rooflines/roofline-ubuntu22_04-rocm7
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix util tests (#797)
  CHANGELOG.md
  tests/test_profile_general.py
  tests/test_utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Generalize config path. (#802)
  src/rocprof_compute_tui/widgets/center_panel/analyze_view.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix roofline and TUI bugs (#803)
  CMakeLists.txt
  src/utils/utils.py
  tests/test_profile_general.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

upgrade rocm-docs-core to 1.21.1
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @prbasyal-amd

upgrade rocm-docs-core to 1.21.1
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @prbasyal-amd

tui user experience improvement (#805)
  src/rocprof_compute_tui/utils/analyze_config.yaml
  src/rocprof_compute_tui/utils/tui_utils.py
  src/rocprof_compute_tui/views/main_view.py
  src/rocprof_compute_tui/widgets/charts.py
  src/rocprof_compute_tui/widgets/collapsibles.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

roofline footnote updated (#808)
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

rocm-smi deprecation warning (#806)
  src/utils/specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update PC sampling doc (#798)
  docs/data/pc_sampling/pc_sampling_host_trap_single_kernel.png
  docs/data/pc_sampling/pc_sampling_no_kernel_filtering.png
  docs/data/pc_sampling/pc_sampling_sort_by_count.png
  docs/data/pc_sampling/pc_sampling_stochastic_single_kernel.png
  docs/how-to/pc_sampling.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Update cli doc description (#804)
  CHANGELOG.md
  docs/data/analyze/cli/mem_chart.png
  docs/data/analyze/cli/roofline_chart.png
  docs/data/analyze/cli/system_speed_of_light.png
  docs/how-to/analyze/cli.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Remove rocm-smi for ROCm 7.1 (#809)
  CHANGELOG.md
  src/rocprof_compute_soc/soc_base.py
  src/utils/specs.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update peak flops for MI350 (#810)
  src/rocprof_compute_soc/analysis_configs/gfx950/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/1100_compute-unit-compute-pipeline.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update TUI docs. (#796)
  docs/data/analyze/tui.png
  docs/how-to/analyze/mode.rst
  docs/how-to/analyze/tui.rst
  docs/how-to/use.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Fix roofline block print during CLI output (#811)
  src/roofline.py
  src/utils/tty.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update workflows for building (#812)
  .github/workflows/rhel-8.yml
  .github/workflows/ubuntu-jammy.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix docker testing instructions (#813)
  README.md
  docker/Dockerfile.test
  docker/docker-compose.test.yml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Roofline GPU and datatype support note added
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Minor wording change
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Architecture data support and diagrams added (#814)
  docs/conceptual/performance-model.rst
  docs/data/conceptual/CDNA.png
  docs/data/conceptual/CDNA2.png
  docs/data/conceptual/CDNA3.png
  docs/data/conceptual/CDNA4.png
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Architecture data support and diagrams added (#814)
  docs/conceptual/performance-model.rst
  docs/data/conceptual/CDNA.png
  docs/data/conceptual/CDNA2.png
  docs/data/conceptual/CDNA3.png
  docs/data/conceptual/CDNA4.png
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Minor editorial changes data type selection feature (#816)
  CHANGELOG.md
  docs/how-to/analyze/standalone-gui.rst
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Merge conflict resolved
  docs/how-to/analyze/standalone-gui.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Add missing <cassert> include (#800)
  sample/fabric.hip
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix ordering in .yaml file
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd

# Documentation files
docs/ @ROCm/rocm-documentation @prbasyal-amd
*.md @ROCm/rocm-documentation @prbasyal-amd
*.rst @ROCm/rocm-documentation @prbasyal-amd
.readthedocs.yaml @ROCm/rocm-documentation @prbasyal-amd

## Packaging
# cmake/
# tests/
# CMakeLists.txt
# utils/
