Repository vjelic/rocprofiler-compute-glog-fork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

fix broken test with --cols options (#750)
  src/utils/tty.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

fix test_gpu_specs.py (#752)
  tests/test_gpu_specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Move pr template file (#746)
  .github/pull_request_template.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

format the code after mem chart's fix of test (#753)
  src/rocprof_compute_soc/soc_gfx908.py
  src/roofline.py
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Print counter list in DEBUG level (#758)
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

[PC Sampling] Separate counts for issued and stalled samples (#756)
  src/utils/parser.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add docker files for testing (#761)
  docker/Dockerfile.customrocmtest
  docker/Dockerfile.doctest
  docker/docker-compose.customrocmtest.yml
  docker/docker-compose.doctest.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Refactor some of the metrics generating script
  counters.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

CLI: enable roofline plot (#760)
  CHANGELOG.md
  src/config.py
  src/rocprof_compute_analyze/analysis_cli.py
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_base.py
  src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline_info.yaml
  src/rocprof_compute_tui/utils/tui_utils.py
  src/roofline.py
  src/utils/gui_components/memchart.py
  src/utils/roofline_calc.py
  src/utils/tty.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Integrate roofline in tui (#762)
  CHANGELOG.md
  src/rocprof_compute_tui/analysis_tui.py
  src/rocprof_compute_tui/utils/tui_utils.py
  src/rocprof_compute_tui/views/main_view.py
  src/rocprof_compute_tui/widgets/charts.py
  src/rocprof_compute_tui/widgets/collapsibles.py
  src/roofline.py
  src/utils/roofline_calc.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

added progress printout in rocprof-compute profile (#727)
  src/rocprof_compute_profile/profiler_base.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update tool to be interactive
  counters.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Rename counters.py to select-metrics.py
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add some metrics to the ignore list since they are duplicates of the speed of light metrics
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix .yaml file parsing
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Ignore certain workflows when changes are only for .md, docs, and docker (#754)
  .github/workflows/rhel-8.yml
  .github/workflows/tarball.yml
  .github/workflows/ubuntu-jammy.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Change when Roofline PDFs are generated- during general profiling and --roof-only profiling (skip only when --no-roof option is present)
  CHANGELOG.md
  src/roofline.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix counter collection for MI 350 (#764)
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/profile_configs/accum_counters.yaml
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Modify if checks after testing
  src/roofline.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

GUI: prevent big number overflow (#772)
  src/utils/gui_components/memchart.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update docs to reflect general profiling roofline outputs
  docs/how-to/profile/mode.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Fix system sol units, remove units if None value. (#773)
  src/rocprof_compute_soc/analysis_configs/gfx906/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx908/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx90a/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/0200_system-speed-of-light.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add roofline PDF output to general profiling runs (#774)
  CHANGELOG.md
  docs/how-to/profile/mode.rst
  src/roofline.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Adding verbose and changing threads (#771)
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Provide a version for RPM Obsoletes attribute (#670)
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add support for MI 100 with rocprofiler-sdk (#768)
  CHANGELOG.md
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/profile_configs/accum_counters.yaml
  src/rocprof_compute_soc/profile_configs/gfx908_counter_defs.yaml
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

cherry-pick branch that fix error of xcd partition
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/rocprof_compute_soc/soc_gfx940.py
  src/rocprof_compute_soc/soc_gfx941.py
  src/rocprof_compute_soc/soc_gfx942.py
  src/rocprof_compute_soc/soc_gfx950.py
  src/utils/mi_gpu_spec.py
  src/utils/mi_gpu_spec.yaml
  src/utils/specs.py
  src/utils/utils.py
  tests/test_gpu_specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

add some missing dependencies
  src/rocprof_compute_soc/soc_gfx906.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

SWDEV-521636 - Add dependent script path to system path in rocprof-compute
  src/rocprof-compute
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

bugfix to enable MI 300 profiling
  src/rocprof-compute
  src/rocprof_compute_analyze/analysis_base.py
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/rocprof_compute_soc/soc_gfx940.py
  src/rocprof_compute_soc/soc_gfx941.py
  src/rocprof_compute_soc/soc_gfx942.py
  src/rocprof_compute_soc/soc_gfx950.py
  src/roofline.py
  src/utils/db_connector.py
  src/utils/file_io.py
  src/utils/kernel_name_shortener.py
  src/utils/logger.py
  src/utils/mi_gpu_spec.py
  src/utils/roofline_calc.py
  src/utils/specs.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

format with isort and black
  src/rocprof-compute
  src/rocprof_compute_analyze/analysis_base.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/rocprof_compute_soc/soc_gfx940.py
  src/rocprof_compute_soc/soc_gfx941.py
  src/rocprof_compute_soc/soc_gfx942.py
  src/rocprof_compute_soc/soc_gfx950.py
  src/roofline.py
  src/utils/db_connector.py
  src/utils/file_io.py
  src/utils/kernel_name_shortener.py
  src/utils/logger.py
  src/utils/mi_gpu_spec.py
  src/utils/roofline_calc.py
  src/utils/specs.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Documentation update for FP8 on MI300 (#766)
  CMakeLists.txt
  docs/conceptual/pipeline-metrics.rst
  docs/conceptual/system-speed-of-light.rst
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

Fix SPI block counter limit (#780)
  src/rocprof_compute_soc/soc_base.py
  src/utils/mi_gpu_spec.yaml
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

added 0400 analysis config yaml files (#779)
  src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline_info.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline_info.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline_info.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline_info.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove cell backgrouund colors. (#778)
  src/utils/gui.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

FP8 support documentation update to ROCm 642 (#781)
  CHANGELOG.md
  CMakeLists.txt
  docs/conceptual/pipeline-metrics.rst
  docs/conceptual/system-speed-of-light.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Print multiple metric tables
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Ignore duplicate metrics
  select-metrics.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Replace union with optional[] to prevent python incompatibility failures
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update sections of PR checklist with suggestions for detail.
  .github/pull_request_template.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd

# Documentation files
docs/ @ROCm/rocm-documentation @prbasyal-amd
*.md @ROCm/rocm-documentation @prbasyal-amd
*.rst @ROCm/rocm-documentation @prbasyal-amd
.readthedocs.yaml @ROCm/rocm-documentation @prbasyal-amd

## Packaging
# cmake/
# tests/
# CMakeLists.txt
# utils/
