Repository vjelic/rocprofiler-compute-glog-fork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd, @ROCm/rocm-documentation, @prbasyal-amd

adding L2 model with updated legend and removal of large images (#718)
  docs/conceptual/l2-cache.rst
  docs/data/performance-model/l2perf_model.png
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Update CHANGELOG
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Rename roofline bins (#717)
  src/utils/rooflines/roofline-rhel8
  src/utils/rooflines/roofline-sles15sp6
  src/utils/rooflines/roofline-ubuntu22_04
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

adding L2 model with updated legend and removal of large images (#718) (#720)
  docs/conceptual/l2-cache.rst
  docs/data/performance-model/l2perf_model.png
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Upgrade to Dash 3.0 (#719)
  CHANGELOG.md
  requirements.txt
  src/rocprof_compute_analyze/analysis_webui.py
  src/utils/gui.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

cherry pick into 6.4.0 (#721)
  docs/conceptual/l2-cache.rst
  docs/data/performance-model/l2perf_model.png
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Add chip specs (#681)
  src/rocprof_compute_soc/soc_base.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/rocprof_compute_soc/soc_gfx940.py
  src/rocprof_compute_soc/soc_gfx941.py
  src/rocprof_compute_soc/soc_gfx942.py
  src/rocprof_compute_soc/soc_gfx950.py
  src/utils/mi_gpu_spec.py
  src/utils/mi_gpu_spec.yaml
  src/utils/specs.py
  src/utils/utils.py
  tests/test_gpu_specs.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Create yaml file to hold all arch calculations needed for roofline plot
  src/roofline.py
  src/utils/roofline_calc.py
  src/utils/roofline_calc.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix yaml equation access, typos, and descriptions.
  src/utils/roofline_calc.py
  src/utils/roofline_calc.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add eval for rest of counter collections
  src/utils/roofline_calc.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix quotations around equation table access calls
  src/utils/roofline_calc.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add cli_generate_plot function to roofline.py, update requirements to install plotext
  requirements.txt
  src/roofline.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Quick remove unneeded arg
  src/roofline.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Tcc new format input yaml (#723)
  src/rocprof_compute_soc/profile_configs/accum_counters.yaml
  src/rocprof_compute_soc/soc_base.py
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

0400 addition, minor changes to grab different yaml. Working out of analysis_configs now
  src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  src/roofline.py
  src/utils/roofline_calc.py
  src/utils/roofline_calc.yaml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix peak flops of F8 I8 F16 and BF16 on MI300
  CHANGELOG.md
  src/rocprof_compute_soc/analysis_configs/gfx940/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/1100_compute-unit-compute-pipeline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/1100_compute-unit-compute-pipeline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/0200_system-speed-of-light.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1100_compute-unit-compute-pipeline.yaml
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Introduce rocprof-compute TUI (Text User Interface) (#682)
  CHANGELOG.md
  LICENSE
  requirements.txt
  src/argparser.py
  src/rocprof_compute_analyze/analysis_base.py
  src/rocprof_compute_base.py
  src/rocprof_compute_soc/analysis_configs/gfx942/0300_mem_chart.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1200_lds.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1300_instruction-cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1400_constant-cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1600_L1_cache.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/1800_L2_cache_per_channel.yaml
  src/rocprof_compute_tui/analysis_tui.py
  src/rocprof_compute_tui/assets/style.css
  src/rocprof_compute_tui/config.py
  src/rocprof_compute_tui/tui_app.py
  src/rocprof_compute_tui/utils/analyze_config.yaml
  src/rocprof_compute_tui/utils/tui_utils.py
  src/rocprof_compute_tui/views/main_view.py
  src/rocprof_compute_tui/widgets/center_panel/analyze_view.py
  src/rocprof_compute_tui/widgets/center_panel/center_area.py
  src/rocprof_compute_tui/widgets/charts.py
  src/rocprof_compute_tui/widgets/collapsibles.py
  src/rocprof_compute_tui/widgets/directory_tree.py
  src/rocprof_compute_tui/widgets/menu_bar/menu_bar.py
  src/rocprof_compute_tui/widgets/recent_directories.py
  src/rocprof_compute_tui/widgets/right_panel/right.py
  src/rocprof_compute_tui/widgets/splitter.py
  src/rocprof_compute_tui/widgets/tabbed_content.py
  src/rocprof_compute_tui/widgets/tabs/tabs_area.py
  src/rocprof_compute_tui/widgets/tabs/tabs_terminal.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Support stochastic pc sampling
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  docker/Dockerfile.standalone
  docker/docker-compose.standalone.yml
  docs/how-to/pc_sampling.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/learning-resources.rst
  src/argparser.py
  src/rocprof_compute_analyze/analysis_cli.py
  src/rocprof_compute_analyze/analysis_webui.py
  src/rocprof_compute_profile/profiler_base.py
  src/utils/parser.py
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add SQLite3 package to test docker container (#730)
  docker/Dockerfile.test
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Formatting issue in code block and TOC fixed for PC Sampling (#731)
  docs/conceptual/performance-model.rst
  docs/how-to/pc_sampling.rst
  docs/how-to/profile/mode.rst
  docs/sphinx/_toc.yml.in
  docs/what-is-rocprof-compute.rst
Owners: @ROCm/rocm-documentation, @prbasyal-amd

CLI: enable mem_chart for single run (#643)
  CHANGELOG.md
  src/utils/mem_chart.py
  src/utils/tty.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Add files to branch to save progress. Not functional
  src/rocprof_compute_soc/analysis_configs/gfx90a/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx940/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx941/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx942/0400_roofline.yaml
  src/rocprof_compute_soc/analysis_configs/gfx950/0400_roofline.yaml
  src/roofline.py
  src/utils/roofline_calc.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

add pull_request_template.md (#729)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Bugfix for rocprofiler sdk interface not working in MI 200 (#733)
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

TUI improvement (#732)
  src/rocprof_compute_tui/analysis_tui.py
  src/rocprof_compute_tui/config.py
  src/rocprof_compute_tui/tui_app.py
  src/rocprof_compute_tui/utils/analyze_config.yaml
  src/rocprof_compute_tui/views/main_view.py
  src/rocprof_compute_tui/widgets/center_panel/center_area.py
  src/rocprof_compute_tui/widgets/collapsibles.py
  src/rocprof_compute_tui/widgets/directory_tree.py
  src/rocprof_compute_tui/widgets/recent_directories.py
  src/rocprof_compute_tui/widgets/right_panel/right.py
  src/rocprof_compute_tui/widgets/splitter.py
  src/rocprof_compute_tui/widgets/tabbed_content.py
  src/rocprof_compute_tui/widgets/tabs/tabs_area.py
  src/rocprof_compute_tui/widgets/tabs/tabs_terminal.py
  src/utils/parser.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Revert default interface to rocprof v1 (#738)
  CHANGELOG.md
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix load_kernel_top arg for GUI analyze mode (#740)
  src/rocprof_compute_analyze/analysis_webui.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update roofline binaries (#741)
  src/roofline.py
  src/utils/rooflines/roofline-rhel8
  src/utils/rooflines/roofline-sles15sp6
  src/utils/rooflines/roofline-ubuntu22_04
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Mount rocprofiler-sdk directory in docker (#743)
  docker/docker-compose.test.yml
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Review changes for 6.4.2 changelog added (#734)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @prbasyal-amd

Add roofline cli_generate_plot method (#737)
  src/roofline.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

increased utils.py code coverage to ~84% (#742)
  tests/test_utils.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

fixed long kernel names cut off in --kernel-names option (#728)
  src/roofline.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Copyright Header Compliance (#745)
  src/utils/mi_gpu_spec.py
  tests/conftest.py
  tests/generate_test_analyze_workloads.py
  tests/test_TCP_counters.py
  tests/test_analyze_commands.py
  tests/test_analyze_workloads.py
  tests/test_gpu_specs.py
  tests/test_import_workloads.py
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Remove rocscope related code and add deprecation warning for mongo db usecase (#744)
  CHANGELOG.md
  docs/how-to/analyze/grafana-gui.rst
  docs/install/grafana-setup.rst
  src/argparser.py
  src/rocprof_compute_base.py
  src/rocprof_compute_profile/profiler_base.py
  src/rocprof_compute_profile/profiler_rocscope.py
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/rocprof_compute_soc/soc_gfx90a.py
  src/utils/gfx_perfmon_builder.py
  src/utils/parser.py
  src/utils/resources.py
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Update version to 3.1.1
  CHANGELOG.md
  VERSION
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Change default rocprof to rocprofv3 (#748)
  CHANGELOG.md
  docs/reference/compatible-accelerators.rst
  src/rocprof_compute_soc/soc_gfx906.py
  src/rocprof_compute_soc/soc_gfx908.py
  src/utils/utils.py
Owners: @ROCm/rocm-documentation, @prbasyal-amd, @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Bugfix for PR #744
  src/rocprof_compute_profile/profiler_base.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Prototype script to generate metrics that can be collected in 1 pass
  counters.py
  src/utils/tty.py
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

Fix: Add explicit includes for assert.h and thread in sample files (#751)
  sample/vcopy.cpp
  sample/vrandom_access.cpp
  sample/vsequential_access.cpp
Owners: @coleramos425, @feizheng10, @vedithal-amd, @xuchen-amd, @cfallows-amd, @ywang103-amd, @jamessiddeley-amd

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @vedithal-amd @xuchen-amd @cfallows-amd @ywang103-amd @jamessiddeley-amd

# Documentation files
docs/ @ROCm/rocm-documentation @prbasyal-amd
*.md @ROCm/rocm-documentation @prbasyal-amd
*.rst @ROCm/rocm-documentation @prbasyal-amd
.readthedocs.yaml @ROCm/rocm-documentation @prbasyal-amd

## Packaging
# cmake/
# tests/
# CMakeLists.txt
# utils/
